<html>
  <head>
    <meta charset="utf-8">
    <title>Adding a User</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bestLogin/css/styles.css' %}">
  </head>
  <body>
  <div id="wrapper">

    {% if messages %}
      {% for message in messages %}
      <h2>{{ message }}</h2>
      {% endfor %}
      Successfully registered (or logged in)!
    {% endif %}
    {% for i in currentUserLoggedIn %}
      <p id="welcome_message">Welcome, {{i.first_name}}</p>
    {% endfor %}

    <form id="logout_right" action="{% url 'users:logout' %}" method="GET">
      {% csrf_token %}
      <input id="button_to_link" type="submit" value="Logout">
    </form>
    </div>
  </body>
</html>
